<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/6.4/src/Core/System/SystemConfig/Schema/system-config.xsd">
    <card>
        <title>Api Key</title>
        <input-field>
            <name>clientApiKey</name>
            <label>Api-key:</label>
            <helpText>Please insert you're Ginger API-key</helpText>
        </input-field>
    </card>
</config>
